<!-- 我的回复界面 -->

<ion-view id="myReply" cache-view="false">
  <ion-header-bar class="bar-dark" align-title="center">
    <a class="icon ion-ios-arrow-left myReplyBar" ng-href="#/tab/account"></a>
    <p class="title">我的回复</p>
  </ion-header-bar>
  <ion-content>
    <div class="myReplyPart" ng-repeat="item in reply">
      <div class="myReplyTop">
        <div class="myReplyTopPhoto">
          <img src="{{item.userImgUrl}}" alt="" class="myReplyPhoto">
        </div>
        <div class="myReplyTopUser">
          <div class="myReplyUserName">{{item.userName}}</div>
          <div class="myReplyUserName">
            <div class="sexAgeBtnBoy">
              <i class="icon ion-male"></i>
              <p>{{test1}}{{test}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="myReplyTime">
        <p>{{item.commentTime}}</p>
      </div>

      <div class="replyContent">
        <p class="replyContent1">{{item.commentContent}}</p>
        <div class="replyContentImg">
        </div>
      </div>

      <div class="oldContent" ng-click="replyToDetail({{item.postId}})">
        <p class="oldContent1">
          原帖：{{item.postTitle}}
        </p>
        <p class="oldContent2">
          内容：{{item.postContent}}
        </p>
      </div>
      <div class="replyFull"></div>
    </div>
    
  </ion-content>
</ion-view>
