/* 我的帖子css */
.myPostBar{
    font-size: 30px;
    color:white;
    padding-left: 1%;
    padding-top:3px;
}
#myPost .myPast{
    padding:0 10px 0 10px;
}
.myPostPart{
    width:100%;
    color:black;
    text-decoration: none;
    border-bottom: 1px solid #D0D0D0;
}
.myPostPart .myPostPartTop{
    width:97%;
    height:35px;
    padding-left: 5px;
    padding-top:5px;
}
#myPost h4{
    margin-left:5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.myPostPartMiddle{
    width:97%;
    padding-left: 10px;
}
#myPost .myPostPartMiddleContent{
    margin-top:10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    color: #888;
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
.myPostPartMiddleImg{
    width:100%;
    height:100px;
}
.myPostImg{
    width:85px;
    height:85px;
    margin-left: 5px;
    border-radius: 5px;
}
.myPostImg1{
    width:85px;
    height:85px;
    border-radius: 5px;
}
/* 昵称日期 */
.myPostPartDown{
    width:97%;
    height:30px;
    padding-left: 10px;
}
.myPostUserName{
    float: left;
    padding-top: 3px;
}
.myPostDate{
    float: left;
    padding-top: 3px;
}
.myPostSeeNum{
    float: left;
    right:15%;
    font-size: 14px;
    padding-top: 3px;
    position: absolute;
}
.myPostI1,.myPostI2{
    color:#D0D0D0;
    font-size: 14px;
}
.myPostCommetNum{
    float: left;
    right: 5%;
    font-size: 14px;
    padding-top: 3px;
    position: absolute;
}