/* 顶部导航栏的ionic原css样式改 */
.tabs-top > .tabs, .tabs.tabs-top{
  top:35px;
}
/*
*论坛首页样式代码
*/
#home {
  background-color:#efefef;
}

#home ion-header-bar{
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  background-image: none;
}
#home .has-header{
  top: 0;
}
#home ion-content{
  overflow:scroll;
}
/*搜索区域*/
#home .headerBar {
  position:absolute;
  background-color: rgb(255, 255, 255);
  top: 0;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 35px;
}
#home #headerBar-bg{
  height: 35px;
  position: absolute;
  width: 100%;
}
#home .headerBar-logo {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 35px;
  display: inline-block;
}
#home .headerBar-logo i {
  display: inline-block;
  height:21px;
  width: 56px;
  margin-left: 7px;
  margin-top: 7px;
}
#home .headerBar-search {
  position:absolute;
  left: 60px;
  right: 65px;
  width: auto;
  height: 25px;
  margin-top:5px;
  color: #fffafa;
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 15px;
}
#home .headerBar-search span{
  display: inline-block;
  height:20px;
  width: 20px;
  background: url("../../img/common/sprites.png") no-repeat;
  background-position: -60px -109px;
  background-size: 200px 200px;
  margin-left: 5px;
  margin-top: 3px;
}
#home .headerBar-search div{
  display:inline-block;
  height:100%;
  width: auto;
}
#home .headerBar-search div input{
  border: 0;
  display: inline-block;
  background: 0;
  font-size: 13px;
  line-height: 1.2em;
  height: 1.4em;
  width: 100%;
  vertical-align: middle;
  margin-top: -15px;
  color: #0a0a0a;
}
#home .headerBar-login {
  width: 30px;
  height:inherit;
  position: absolute;
  right: 7px;
  display: inline-block;
}
#home .headerBar-login span{
  margin-top: 7px;
  color:#fa1b1b;
  font-size: 15px;
  display: inline-block;
}

/*功能导航*/
#home #nav{
  height:100px;
  width:100%;
  padding:0 3%;
  background-color:#fff;
  overflow:hidden;
  box-shadow:0 1px 1px #ebebeb;
}
#home #nav span{
  display:block;
  float:left;
  width:25%;
  height:60px;
  margin-top:16px;
}
#home #nav span img{
  display:block;
  width:40px;
  height:40px;
  margin:0px auto;
}
#home #nav span h2{
  font-size:14px;
  font-weight:300;
  text-align:center;
  margin-top: 10px;
}

/* 轮播图 */
#home .headerSlider {
  height: 184px;
  width: 100%;
  margin-top:28px;
}
#home .headerSlider img {
  height: 100%;
  width: 100%;
}

/* 贴子模块 */
#home .post{
  background-color:#ffffff;
  min-height:90px;
  max-height:170px;
  width:100%;
  margin-top:5px;
}

#home .post .jump{
  text-decoration:none;
  color:black;
}

#home .post .title{
  overflow:hidden; /* 超出的文本隐藏*/
  text-overflow:ellipsis; /*溢出用省略号显示*/
  white-space:nowrap; /*溢出不换行*/
  height:35px;
  width:100%;
  line-height: 35px;
  left:10px;
  font-size:24px;
}

#home .post .post-content{
  position: relative; 
  min-height:20px;
  max-height:100px;
  width:100%;
  color:#5f5f5f;
}

#home .post .post-content span{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;  /*这里是在第几行有省略号*/
  overflow: hidden;
  font-size:18px;
  min-height: 20px;
}

/* 内容中的图片 */
#home .post .post-content img{
  width:60px;
  height:60px;
}

#home .post .auth{
  position:relative;
  height:35px;
  font-size:16px;
  width:100%;
  line-height: 35px;
}

/* 标志 */
#home .sign{
  height:inherit;
  position: absolute;
  right: 20px;
  display: inline-block;
}

#home .sign a{
  color:red;
}


