
/*
*论坛首页样式代码
*/
#home .auth .icon{
  font-size:14px;
}


#home {
  background-color:#ffffff;
}

#home ion-content{
  overflow:scroll;
}
/*搜索区域*/
#home .headerBar {
  position:absolute;
  background-color: rgb(255, 255, 255);
  top: 0;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 40px;
}
#home #headerBar-bg{
  height: 40px;
  position: absolute;
  width: 100%;
}
#home .headerBar-logo {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 40px;
  display: inline-block;
}

#steam::before{
  margin-left: 10px;
  font-size: 20px;
}

#home .headerBar-logo i {
  display: inline-block;
  height:21px;
  width: 56px;
  margin-left: 7px;
  margin-top: 7px;
}
#home .headerBar-search {
  position:absolute;
  left: 60px;
  right: 65px;
  width: auto;
  height: 25px;
  margin-top:5px;
  color: #fffafa;
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 15px;
}
#home .headerBar-search span{
  display: inline-block;
  height:20px;
  width: 20px;
  background: url("../../img/common/sprites.png") no-repeat;
  background-position: -60px -109px;
  background-size: 200px 200px;
  margin-left: 5px;
  margin-top: 3px;
}
#home .headerBar-search div{
  display:inline-block;
  height:100%;
  width: auto;
}
#home .headerBar-search div input{
  border: 0;
  display: inline-block;
  background: 0;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  width: 100%;
  vertical-align: middle;
  margin-top: -15px;
  color: #0a0a0a;
}
#home .headerBar-login {
  width: 30px;
  height:inherit;
  position: absolute;
  right: 7px;
  display: inline-block;
}
#home .headerBar-login span{
  margin-top: 7px;
  color:#fa1b1b;
  font-size: 15px;
  display: inline-block;
}

/*功能导航*/
#home #nav{
  height:80px;
  width:100%;
  padding:0 3%;
  background-color:#fff;
  overflow:hidden;
  box-shadow:0 1px 1px #ebebeb;
  
}
#home #nav span{
  display:block;
  float:left;
  width:25%;
  height:20px;
  margin-top:10px;
}
#home #nav span h2{
  font-size:13.5px;
  font-weight:300;
  text-align:center;
  margin-top: 35px;
}

/* 导航移动 */
.navigation-xian{
    float: left;
    position: relative;
    top: 35px;
    left: 2%;
    width:25%;
    height:2px;
    background-color:rgb(226, 116, 43);
    margin-left: -7px;
    border: 0;
}

/* 贴子内容列表*/
#home #home-content{
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top:80px;
}
#home #home-content .content-item{
  margin-top: 20px !important;
}
/* 有图片时显示 */
#home #home-content .content-item .news-img{
  width: 80px;
  height: 60px;
  border-radius: 4px;
  float: right;
  margin-left: 30px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
}

#home #home-content .content-item .news{
  width: 0px;
  height: 0px;
}

#home #function-content2{
  width: 100%;
  display: block; 
  padding: 0 0 15px 0;
}
/* 贴子模块 */
#home .post{
  background-color:#ffffff;
  min-height:90px;
  max-height:170px;
  width:100%;
  margin-top:8px;
}

#home .post .jump{
  text-decoration:none;
  color:black;
}

#home .post .title{
  overflow:hidden; /* 超出的文本隐藏*/
  text-overflow:ellipsis; /*溢出用省略号显示*/
  white-space:nowrap; /*溢出不换行*/
  margin-bottom: 5px !important;
  margin-top: 5px !important
}

#home .post .title h4{
  display: inline;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #212121;
  position: relative;
  vertical-align: middle;
}


#home .post .post-content .content{
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  color: #888;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

/* 内容中的图片 */
#home .post .post-content img{
  width:60px;
  height:60px;
}

#home .post .auth{
  font-size:14px;
}

/* 标志 */
#home .sign{
  height:inherit;
  position: absolute;
  right: 20px;
  display: inline-block;
}

#home .sign a{
  color:red;
}


