/* 设置页面的css */

.optionBar{
    padding-top:1%;
    padding-left: 1%;
    font-size: 30px;
    color:#ADADAD;
    border-radius: 2px;
}
.setting-name{
    width:25%;
    height:50px;
    float: left;
    border-bottom: 1px solid rgb(107, 99, 99);
}
.setting-right{
    width:75%;
    height:50px;
    float: left;
    border-bottom: 1px solid rgb(107, 99, 99);
}
.right-color{
    color:#ADADAD;
    font-size: 24px;
}
.option-btn{
    width:100%;
    height:45px;
}
.option-footer{
    background-color: rgb(226, 221, 221) ;
    height:55px;
}