<!-- 我的收藏界面 -->

<ion-view id="myCollection" cache-view="false">

  <ion-header-bar class="bar-positive" align-title="center">
    <a class="icon ion-ios-arrow-left myCollectonBar" ng-href="#/tab/account"></a>
    <p class="title">我的收藏</p>
  </ion-header-bar>

  <ion-content class="myCollectionContent">
    <div class="myCollectionPart" ng-repeat="item in collection" ng-click="toDetail({{item.postId}})">
      <h4 class="myCollectionTitle">{{item.postTitle}}</h4>
      <div class="myCollectionCon">
        <p>{{item.postContent}}</p>
      </div>
      <img src="{{item.imgUrl}}" alt="" class="myCollectionImg">
      <div class="myCollectionDown">
        <p class="myCollectionDate">{{item.postTime}}</p>
        <p class="myCollectionSeeNum"><i class="icon ion-ios-eye myCollectionI1"></i> {{item.lookNum}}</p>
        <p class="myCollectionCommetNum"><i class="icon ion-ios-chatboxes myCollectionI1"></i> {{item.purview}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
