<ion-view id="massage" view-title="信息" cache-view="false">
    
    <div id="headerBar" class="headerBar">
      <div id="headerBar-bg"></div>
      <div class="headerBar-logo">
        <img class="icon" id="steam" />
      </div>
      <a class="headerBar-search"  ng-href="#">
        <span>三竹论坛</span>
      </a>
      
      <!-- 分类导航 -->
      <div id = "nav">
        <span id="notice" class="notice-nav-1-img" >
          <h2>通知消息</h2> 
        </span>
        <span id="system" class="system-nav-2-img" >
          <h2>系统信息</h2>  
        </span>
      </div>
    </div>
      
    <ion-content id="massage-content" >
      <div class="massage-list">
        <div id="massage-content2" >
          <div class="content-item" ng-repeat="item in userPost">
            <div class="massage" ng-click="massateToDetail({{item.id}})">
              <div class="massage-content-left">
                <img id="head-img" src="{{item.userImgUrl}}" />
              </div>
              <div class="massage-content-right">
                <div class="content-button-head">
                <div class="content-button-head-from">
                    您发表了贴子
                </div>
                <div class="content-button-head-time">
                  {{item.postTime}}
                </div>
                </div>
                <div class="content-button-content">
                  {{item.postTitle}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </ion-content>
</ion-view>