<!-- 资料详情界面 -->

<ion-view id="mydate" view-title="资料详情" cache-view="false">
  <ion-header-bar class="bar-dark" align-title="center">
    <a class="icon ion-ios-arrow-left mydateBar" ng-click="goBack()" ng-href="#/tab/account"></a>
    <p class="title">个人信息</p>
    <a class="icon ion-ios-compose-outline mydateEdit" ng-href="#/mydateEdit"></a>
  </ion-header-bar>
  <ion-content scroll="false" id="mydateContent">
    <div class="mydateAll">
      <div class="mydateTop">
        <div class="mydateINLA">
          <div id="imgWidth">
            <img src="img/account/2.png" alt="">
          </div>
          <div class="INLAContain">
            <p class="mydateName">hhh</p>
            <div class="mydateBaseInfo">
              <div class="mydateLevle ">LV{{test}}</div>
              <div class="sexAgeBtnGirl mydateSAB">
                <i class="icon ion-male"></i>
                <p>{{test1}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="mydateTopExe">
          <div class="mydateTopExeCon">
            <div class="contribution">
              <p>{{test}} 贡献</p>
            </div>
            <div class="integral">
              <p>{{test1}} 积分</p>
            </div>
          </div>
        </div>

        <div class="myAll">
          <a class="mydatePart" ng-href="#/myPost">
            <div class="mydatePartA">
              <p id="myAll1">{{test1}}</p>
              <p class="myAllName">帖子</p>
            </div>
          </a>
          <a class="mydatePart" ng-href="#/myReply">
            <div class="mydatePartA">
              <p id="myAll2">{{test1}}</p>
              <p class="myAllName">回复</p>
            </div>
          </a>
          <a class="mydatePart" ng-href="#/follow">
            <div class="mydatePartA">
              <p id="myAll3">{{test1}}</p>
              <p class="myAllName">关注</p>
            </div>
          </a>
          <a class="mydatePart" ng-href="#/fans">
            <div class="mydatePartA">
              <p id="myAll4">{{test1}}</p>
              <p class="myAllName">粉丝</p>
            </div>
          </a>
          <a class="mydatePart" ng-href="#/myCollection">
            <div class="mydatePartA">
              <p id="myAll5">{{test1}}</p>
              <p class="myAllName">收藏</p>
            </div>
          </a>
        </div>
      </div>

      <div class="mydateMiddle">
        <p class="mydateMiddle1">我的照片</p>
        <div class="mydateMiddle2">
          <div class="mydateMiddleImg">
            <img src="img/account/9.png" id="mydatePhoto" alt="">
          </div>
        </div>
      </div>

      <div class="mydateDown">
        <p class="mydateDownCon">个人信息</p>
        <div class="mydateDownPart">
          <div class="autograph">签名</div>
          <div class="showAutograph">因为懒所以没有签名</div>
        </div>
        <div class="mydateDownPart">
          <div class="autograph">家乡</div>
          <div class="showAutograph">无-无</div>
        </div>
        <div class="mydateDownPart">
          <div class="autograph">职业</div>
          <div class="showAutograph">打酱油的</div>
        </div>
        <div class="mydateDownPart">
          <div class="autograph">学校</div>
          <div class="showAutograph">填写学校，发现校友</div>
        </div>
      </div>
    </div>
  </ion-content>
  
  <ion-footer-bar id="mydateFooter" >
    <div class="mydateDownBtnL1 button" id="mydateFooterL"ng-click="mydateAdd()">
      <i class="icon ion-android-person" id="mydateDownBtnLI">已关注</i>
    </div>
    <div class="mydateDownBtnR button " ng-click="showConfirm1()">
      <i class="icon icon ion-nuclear">举报</i>
    </div>
  </ion-footer-bar>
  
</ion-view>
