<ion-view id="home" view-title="首页" cache-view="false">
  <!--搜索区域-->
  <div id="headerBar" class="headerBar">
    <div id="headerBar-bg"></div>
    <div class="headerBar-logo">
      <i class="icon icon-steam" id="steam"></i>
    </div>
    <a class="headerBar-search"  ng-href="#">
      <span></span>
      <div>
        <input  maxlength="20" autocomplete="true" value=""/>
      </div>
    </a>
    <a class="headerBar-login" ng-href="#">
    </a>
    <!-- 功能导航 -->
    <div id="nav">
      <span id="One" class="navigation-nav-1-img" ng-click="toOne('One')" >
        <h2>谈天说地</h2>
        
      </span>
      <span id="Two" class="navigation-nav-2-img" ng-click="toTwo('Two')">
        <h2>游戏资讯</h2>
        
      </span>
      <span id="Three" class="navigation-nav-3-img" ng-click="toThree('Three')">
        <h2>资源分享</h2>
        
      </span>
      <span id="Four" class="navigation-nav-4-img" ng-click="toFour('Four')">
        <h2>交易购物</h2>
        
      </span>
      <hr class="navigation-xian">
    </div>
  </div>

  <ion-content id="home-content" class="scroll-content" scroll="true">
  
    <div class="content-list">
      <!-- 谈天说地 -->
      <div id="function-content2" ng-repeat="item in data">
        <div class="content-item">
          <!-- 使用ng-if查看是否有图片 -->
          <div ng-if="item.imgUrl != '' ">
            <a class="news-img" style="background-image:url({{item.imgUrl}})"></a>
          </div>
          <!-- 点击事件跳转到贴子详情页 -->
          <div class="post" ng-click="jumpToDetail({{item.id}})">
            <div class="jump">
              <!-- 贴纸的标题 -->
              <div class="title">
                <h4>{{item.postTitle}}</h4>
              </div>
              <!-- 贴子的内容 -->
              <div class="post-content">
                <div class="content">{{item.postContent}}</div>
              </div>
              <!-- 贴子的作者及一些信息 -->
              <div class="auth">
                <span class="name">{{item.userName}}</span>&nbsp;&nbsp;
                <span class="time">{{item.postTime}}</span>&nbsp;&nbsp;
                <!-- 点赞和留言数 -->
                <div class="sign">
                  <!-- 观看 -->
                  <span class="icon icon-eye">&nbsp;{{item.lookNum}}</span>&nbsp;
                  <!-- 留言 -->
                  <span class="icon icon-liuyan" >&nbsp;{{item.purview}}</span>
                  <!-- <a id="like" class="icon icon-like-outline" ng-click="clickIcon($event,'icon-like')" style="font-size:20px;"></a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--回到顶部的区块-->
    <div class="back_top" ></div>
  </ion-content>

</ion-view>
