/*
* 信息界面css代码
*/
#massage {
  background-color:#efefef;
}

/*搜索区域*/
#massage .headerBar {
  position:absolute;
  background-color: rgb(255, 255, 255);
  top: 0;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 40px;
}
#massage #headerBar-bg{
  height: 40px;
  position: absolute;
  width: 100%;
  background-color:rgb(66, 66, 66);
}
#massage .headerBar-logo {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 40px;
  display: inline-block;
}

#steam::before{
  margin-left: 10px;
  font-size: 20px;
}

#massage .headerBar-logo i {
  display: inline-block;
  height:21px;
  width: 56px;
  margin-left: 7px;
  margin-top: 7px;
}
#massage .headerBar-search {
  position:absolute;
  left: 60px;
  right: 65px;
  width: auto;
  height: 25px;
  margin-top:5px;
  display: inline-block;
}
#massage .headerBar-search span{
  display: inline-block;
  height:20px;
  width: 20px;
  background-position: -60px -109px;
  background-size: 200px 200px;
  margin-left: 5px;
  margin-top: 3px;
  width:100%;
  color:#ffffff;
  font-size:20px;
  text-align:center;
}

/* 信息导航 */
#massage #nav{
  height:80px;
  width:100%;
  padding:0 3%;
  background-color:#fff;
  overflow:hidden;
  box-shadow:0 1px 1px #ebebeb;
}
#massage #nav span{
  display:block;
  float:left;
  width:50%;
  height:20px;
  margin-top:10px;
}
#massage #nav span h2{

  font-size:20px;
  font-weight:300;
  text-align:center;
  margin-top: 35px;
}

/* 导航移动 */
.massage-navigation-xian{
    float: left;
    position: relative;
    top: 35px;
    left: 2%;
    width:25%;
    height:2px;
    background-color:rgb(226, 116, 43);
    margin-left: 38px;
    border: 0;
}


/* 内容区 */
#massage #massage-content{
  margin-top:80px;
  background-color:#ffffff;
}
#massage #massage-content2{
  width: 100%;
  display: block; 
  padding:0 0 15px 0; 
}
/* 信息 */
/* 贴子模块 */
#massage .post{
  background-color:#ffffff;
  min-height:90px;
  max-height:170px;
  width:97%;
  margin:5px;
}

#massage .post .jump{
  text-decoration:none;
  color:black;
}

#massage .massage #head-img{
  height:40px;
  width:40px;
  border-radius: 50%;
}
/* 内容区 */
#massage .content{
  width: 100%;
  height: 100%;
  margin-top: 45px;
}

#massage .content-button{
  width: 90%;
  height: 80px;
  background-color: white;
  margin-top: 10px;
}
#massage #massage-content{
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top:80px;
}
/* 头像 */
#massage .massage-content-left{
  width: 12%;
  height: 100%;
  float: left;
  margin-top: 10px;
 
}

#massage #head-image::before{
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 50px;
  font-size: 30px;
}

/* 文字 */
#massage .massage-content-right{
  width: 88%;
  height: 100%;
  float: left;
  
}

#massage .content-button-head{
  width: 100%;
  height: 30px;
  border-width: 1px;
  margin-top:10px;
}

#massage .content-button-head-from{
  height: 100%;
  font-size: 20px;
  text-align: left;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

#massage .content-button-head-time{
  margin-left:40px;
  height: 100%;
  font-size: 16px;
  text-align: right;
  float: left;
  margin-top: 3px;
  padding-right: 10px;
  color:#808080
}

#massage .content-button-content{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 95%;
  height: 50px;
  font-size: 16px;
  margin:5 0 0 0 ;
  text-align: left;
  float: left;
  margin-left: 2%;
  border-width: 1px;
  overflow:hidden;
  margin:0 0 5px 5px;
}


