/*
* 信息界面css代码
*/
#massage {
  background-color:#efefef;
}

#massage .headerBar {
  position:absolute;
  background-color: rgb(255, 255, 255);
  top: 0;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 40px;
}

#massage .title1{
    width: 100%;
    height: 30px;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
}

/* 信息导航 */
#massage #nav{
  height:80px;
  width:100%;
  padding:0 3%;
  background-color:#fff;
  overflow:hidden;
  box-shadow:0 1px 1px #ebebeb;
  margin-top: -40px; 
}
#massage #nav span{
  display:block;
  float:left;
  width:50%;
  height:20px;
  margin-top:10px;
}
#massage #nav span h2{

  font-size:20px;
  font-weight:300;
  text-align:center;
  margin-top: 35px;
}

/* 导航移动 */
.massage-navigation-xian{
    float: left;
    position: relative;
    top: 35px;
    left: 2%;
    width:25%;
    height:2px;
    background-color:rgb(226, 116, 43);
    margin-left: 38px;
    border: 0;
}


/* 内容区 */
#massage #massage-content2{
  width: 100%;
  height: 1000px;
  display: block; 
  background-color: rgb(175, 219, 219);
  
}
#massage #massage-content3{
  width: 100%;
  height: 1000px;
  display: none; 
  background-color: rgb(235, 230, 178);
  
}

/* 信息 */
/* 贴子模块 */
#massage .post{
  background-color:#ffffff;
  min-height:90px;
  max-height:170px;
  width:100%;
  margin-top:5px;
}

#massage .post .jump{
  text-decoration:none;
  color:black;
}


/* 注释 */
#massage .content{
  width: 100%;
  height: 100%;
  margin-top: 90px;
}

#massage .content-button{
  width: 90%;
  height: 80px;
  background-color: white;
  margin-top: 10px;
}

#massage .content-button-head{
  width: 100%;
  height: 30px;
  border-width: 1px;
}

#massage .content-button-head-from{
  width: 50%;
  height: 100%;
  font-size: 20px;
  text-align: left;
  float: left;
}

#massage #head-image::before{
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: 10px;
}

#massage .content-button-head-time{
  width: 50%;
  height: 100%;
  font-size: 20px;
  text-align: right;
  float: right;
}

#massage .content-button-content{
  width: 95%;
  height: 60px;
  font-size: 17px;
  text-align: left;
  float: left;
  margin-left: 5%;
  border-width: 1px;
  overflow:hidden;
}


