<!-- 注册详情界面 -->

<ion-view id="registerDetail" view-title="注册" cache-view="false">
  <form>
    <div class="registerDetailTop">
      <p>填写注册信息</p>
      <a class="button button-icon button-small reginsterDetailBtn" href="#/register">上一步</a>
    </div>

    <div class="registerDetailInfo">
      <div class="infoPart">
        <p>头像</p>
        <div class="icon ion-plus-circled addInfoIcon" ng-click="uploads('photo')"></div>
        <input type="file" hidden  id="photo">
      </div>
      <div class="infoPart">
        <p>性别</p>
        <div id="infoSex">
          <input type="radio" name="sex" value="男" checked>男
          <input type="radio" name="sex" value="女">女
        </div>
      </div>
      <div class="infoPart">
        <p>生日</p>
        <input type="date" name="" id="infoDate">
      </div>
      <a class="button button-balanced infoBtn" ng-click="subdate()">完成</a>
    </div>
  </form>
</ion-view>

