/* 
*设置自定义图标
*/
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../../font/iconfont.woff2') format('woff2'),
      url('../font/iconfont.woff') format('woff'),
      url('../font/iconfont.ttf') format('truetype'),
      url('../font/iconfont.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon:before{
  line-height: 1;
}

.icon-cameraaddfill:before {
  content: "\e727";
}

.icon-album:before {
  content: "\e734";
}

.icon-steamsquare:before {
  content: "\ed02";
}

.icon-tupian:before {
  content: "\e637";
}

.icon-gengduotupian:before {
  content: "\e62a";
}

.icon-qq:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e73b";
}

.icon-liuyan:before {
  content: "\e60c";
}

.icon-QQfang:before {
  content: "\e61a";
}

.icon-tubiaozhizuomoban:before {
  content: "\e638";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-baocun:before {
  content: "\ec09";
}

.icon-message:before {
  content: "\e78a";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-like-outline:before {
  content: "\e7c8";
}

.icon-folder-add:before {
  content: "\e7d1";
}

.icon-camera:before {
  content: "\e7d7";
}

.icon-image:before {
  content: "\e7de";
}

.icon-share:before {
  content: "\e7e7";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-gengduo:before {
  content: "\ec1c";
}

.icon-close-circle-fill:before {
  content: "\e844";
}

.icon-appstore-fill:before {
  content: "\e853";
}

.icon-eye-fill:before {
  content: "\e869";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-tupian1:before {
  content: "\e62d";
}

.icon-steam:before {
  content: "\f23b";
}

.icon-tupiantianjia:before {
  content: "\ec7d";
}

.icon-like:before {
  content: "\ec8c";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-steam-:before {
  content: "\e60b";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-shoucang_shixin:before {
  content: "\eca6";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-fangkuai:before {
  content: "\ed1a";
}

.icon-tupian-:before {
  content: "\e61b";
}

.icon-agreement:before {
  content: "\e697";
}

.icon-fenxiangfangshi:before {
  content: "\ed2e";
}

.icon-weixinzhifu:before {
  content: "\e607";
}

.icon-zhifubao:before {
  content: "\e60a";
}

.icon-zengjia:before {
  content: "\e63e";
}

.icon-qukuai-shutiao:before {
  content: "\e625";
  color:#1296db;
}

.icon-dengji:before {
  content: "\e603";
  color:#1296db;
}

.icon-louzhu:before {
  content: "\e66c";
  color:#1296db;
}

.icon-xingbienan:before {
  content: "\e71c";
}

.icon-sex-x:before {
  content: "\e61f";
}

.icon-xingbienan1:before {
  content: "\e601";
}

.icon-xingbie-nv:before {
  content: "\e60d";
  color:#1296db;
}

.icon-xingbie-nan:before {
  content: "\e60e";
}

.icon-dengji-1:before {
  content: "\e604";
  color:#1afa29;
}

.icon-dengji-2:before {
  content: "\e6a2";
  color:#1296db;
}

.icon-dengji-3:before {
  content: "\e605";
  color:#ecb20d;
}

.icon-dengji-4:before {
  content: "\e6a6";
  color:#f907e3;
}

.icon-dengji-5:before {
  content: "\e606";
  color:#f9033c;
}

.icon-dengji-6:before {
  content: "\e6a3";
}

.icon-dengji-7:before {
  content: "\e6a7";
}

.icon-dengji-8:before {
  content: "\e6a5";
}

.icon-dengji-9:before {
  content: "\e6a4";
}

.icon-fasong:before {
  content: "\e61d";
  color:#1296db;
}
