/* 
*设置自定义图标
*/
@font-face {
  font-family: 'iconfont';
  src: url('../../font/iconfont.eot');
  src: url('../../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../../font/iconfont.woff2') format('woff2'),
  url('../../font/iconfont.woff') format('woff'),
  url('../../font/iconfont.ttf') format('truetype'),
  url('../../font/iconfont.svg#iconfont') format('svg');
}



.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon:before{
  line-height: 1;
}

.icon-cameraaddfill:before {
  content: "\e727";
}

.icon-album:before {
  content: "\e734";
}

.icon-steamsquare:before {
  content: "\ed02";
}

.icon-tupian:before {
  content: "\e637";
}

.icon-gengduotupian:before {
  content: "\e62a";
}

.icon-qq:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e73b";
}

.icon-QQfang:before {
  content: "\e61a";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-baocun:before {
  content: "\ec09";
}

.icon-message:before {
  content: "\e78a";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-folder-add:before {
  content: "\e7d1";
}

.icon-camera:before {
  content: "\e7d7";
}

.icon-image:before {
  content: "\e7de";
}

.icon-share:before {
  content: "\e7e7";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-gengduo:before {
  content: "\ec1c";
}

.icon-close-circle-fill:before {
  content: "\e844";
}

.icon-appstore-fill:before {
  content: "\e853";
}

.icon-eye-fill:before {
  content: "\e869";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-steam:before {
  content: "\f23b";
}

.icon-tupiantianjia:before {
  content: "\ec7d";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-steam-:before {
  content: "\e60b";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-shoucang_shixin:before {
  content: "\eca6";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-fangkuai:before {
  content: "\ed1a";
}

.icon-agreement:before {
  content: "\e697";
}

.icon-fenxiangfangshi:before {
  content: "\ed2e";
}

.icon-weixinzhifu:before {
  content: "\e607";
}

.icon-zhifubao:before {
  content: "\e60a";
}

.icon-zengjia:before {
  content: "\e63e";
}
