/* 我的信息css */

#mydate {
  background: url("../../img/account/2.png") no-repeat;
  background-size: 100% 100%;
}

.mydateBar {
  font-size: 30px;
  color: white;
  padding-top: 2px;
  padding-left: 5px;
}

#mydate .mydateAll {
  width: 100%;
  height: 100%;
}

/* 编辑图标 */
#mydate .mydateEdit {
  position: absolute;
  right: 4%;
  top: 6px;
  color: white;
  font-size: 28px;
}

/* 第一块 */
.mydateAll .mydateTop {
  width: 100%;
  height: 25%;
  margin-top: 25%;
  background-color: rgba(255, 255, 255, 0.6);
}

/* 中间块 */
.mydateAll .mydateMiddle {
  width: 100%;
  height: 20%;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* 底部块 */
.mydateAll .mydateDown {
  width: 100%;
  height: 30%;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* top第一块div */
.mydateAll .mydateINLA {
  width: 100%;
  height: 40%;
}

/* 头部快图像 */
.mydateAll .mydateINLA img {
  width: 100%;
  height: 100%;
}

.mydateAll #imgWidth {
  height: 100%;
  float: left;
  margin-top: -10px;
  margin-left: 5%;
}

/* 昵称及小图标 */
.mydateSAB{
  margin-left:30px;
}
.mydateAll .INLAContain {
  height: 100%;
  width: 60%;
  float: left;
  margin: 0;

}

.mydateAll .INLAContain .mydateName {
  width: 100%;
  height: 50%;
  margin: 0;
  padding-top: 2%;
  margin-left: 15px;
  font-size: 24px;
}

.mydateAll .INLAContain .mydateBaseInfo {
  width: 100%;
  height: 50%;
  margin-left: 15px;
}

/* 小图标 */
.mydateAll .INLAContain .mydateLevle {
  width: 28px;
  height: 16px;
  color: #fff;
  float: left;
  padding-left: 4px;
  line-height: 15px;
  font-size: 12px;
  border-radius: 3px;
  background-color: #33cd5f;
}

.mydateAll .INLAContain .mydateSA {
  width: 30px;
  height: 14px;
  margin-left: 30px;
  padding-left: 4px;
  border-radius: 3px;
  background-color: rgba(99, 190, 240);
}

.mydateAll .INLAContain .mydateMale {
  padding-top: 2px;
  color: white;
  float: left;
  font-size: 12px;
}

.mydateAll .INLAContain .mydateAge {
  line-height: 15px;
  padding-left: 15px;
  color: white;
  font-size: 12px;
}

/* 经验条 */
.mydateAll .mydateTopExe {
  width: 100%;
  height: 25%;
  margin: 0;
  border-bottom: 1px solid rgba(248, 248, 255, 0.4);
}

.mydateAll .myAll {
  width: 100%;
  height: 35%;
}

.mydateAll .mydateTopExeCon {
  width: 60%;
  height: 100%;
  margin-left: 100px;
}

.mydateTopExe .contribution {
  width: 80px;
  height: 100%;
  float: left;
  padding-top: 4%;
}

.mydateTopExe .integral {
  width: 80px;
  height: 100%;
  float: left;
  padding-top: 4%;
}

.myAll .mydatePart {
  width: 20%;
  height: 100%;
  float: left;
  text-decoration: none;
  color: black;
}

.myAll .mydatePartA {
  width: 100%;
  height: 100%;
  text-align: center;
}

.myAll #myAll1,
#myAll2,
#myAll3,
#myAll4,
#myAll5 {
  height: 50%;
  width: 100%;
  margin: 0;
  font-size: 14px;
  padding-top: 5px;
}

.myAll .myAllName {
  height: 50%;
  width: 100%;
  font-size: 14px;
}

.mydateMiddle .mydateMiddle1 {
  width: 95%;
  height: 30%;
  font-size: 18px;
  padding-top: 2%;
  margin: 0;
  margin-left: 5%;
}

.mydateMiddle .mydateMiddle2 {
  width: 100%;
  height: 70%;
  margin-left: 5%;
}

.mydateMiddle .mydateMiddle2.mydateMiddleImg {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.mydateMiddle .mydateMiddle2 #mydatePhoto {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  min-width: 55px;
  min-height: 55px;
  border-radius: 5px;
}

.mydateDownCon {
  width: 90%;
  height: 20%;
  margin: 0;
  margin-left: 5%;
  font-size: 18px;
  padding-top: 2%;
}

.mydateDownPart {
  width: 90%;
  height: 20%;
  margin-left: 5%;
}

.autograph {
  width: 15%;
  height: 100%;
  float: left;
  color: #8B8989;
  padding-top: 2%;
}

.showAutograph {
  width: 85%;
  height: 100%;
  color: #D3D3D3;
  padding-top: 2%;
}
.mydateDownBtnL{
  width:48%;
  color: #F9F900;
  font-size: 30px;
  float: left;
}
.mydateDownBtnL1{
  width:48%;
  color: #D3D3D3;
  font-size: 30px;
  float: left;
}
.mydateDownBtnR{
  width:48%;
  float: left;
  color:#FF2D2D;
}
#mydateFooter .mydateDownBtnL .activated{
  color: #F9F900;
}
.actionSheet{
  font-size: 16px;
  color:#FFAF60;
}
.actionSheet1{
  font-size: 16px;
  color:#000;
}
.action-sheet-group .button{
  height: 30px;
}
/* 举报弹出框 */
.mydareConfirm{
  font-size: 16px;
  padding-top:15px;
  text-align: center;
}
/* 关注成功小弹窗 */

.mydate-popup .popup-head {
  display: none;
}

.mydate-popup .popup {
  width:80px;
  height:80px;
  padding: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.mydate-popup .popup-body {
  padding: 0;
  width:80px;
  height:80px;
  /*overflow-y:scroll;*/
}
.addSuccessBodyD{
  width:100%;
  height:50%;
  padding-top: 20px;
  border-radius:5px 5px 0 0;
  text-align: center;
}
.addSuccessBodyU{
  width:100%;
  height:50%;
  color:#D3D3D3;
  margin-top:-15px;
  text-align: center;
}
.addSuccessI{
  font-size: 90px;
}