<!-- 我的帖子界面 -->

<ion-view id="myPost" cache-view="false">
  <ion-header-bar class="bar-positive" align-title="center">
    <a class="icon ion-ios-arrow-left myPostBar" ng-href="#/tab/account"></a>
    <p class="title">我的帖子</p>
  </ion-header-bar>
  <ion-content class="scroll-content" scroll="true">
    <div class="myPast" ng-repeat="data in post">
      <a class="myPostPart" ng-click="myPostToDetail({{data.id}})">
        <div class="myPostPartTop" >
          <p class="myPostPartTopTitle"><h4>{{data.postTitle}}</h4></p>
        </div>
        <div class="myPostPartMiddle">
          <p class="myPostPartMiddleContent">{{data.postContent}}</p>
          <div class="myPostPartMiddleImg" ng-if="data.imgUrl != ''||data.imgUrl ==null">
            <img src="{{data.imgUrl}}" alt="" class="myPostImg1">
          </div>
        </div>
        <div class="myPostPartDown">
          <span>
            <p class="myPostUserName">{{post.userName}}</p>
            <p class="myPostDate" name="myPostDate">{{data.postTime}}</p>
            <p class="myPostSeeNum"><i class="icon ion-ios-eye myPostI1"></i>&nbsp;{{data.lookNum}}</p>
            <p class="myPostCommetNum"><i class="icon ion-ios-chatboxes myPostI1"></i>&nbsp;{{data.purview}}</p>
          </span>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
