<ion-view id="detail" view-title="详情" cache-view="false">

  <ion-header-bar>
    <div id="headerBar" class="headerBar">
        <a class="icon ion-chevron-left" ng-click="goBack()"></a>
    </div>
  </ion-header-bar>

  <ion-content id="detail-content" scroll="false" delegate-handle="mainScroll">
    <div id="main">
      <div id="title">
          <span>{{data.postTitle}}</span>
      </div>
      <div class="other">
        <span class="time">{{data.postTime}}</span>
        <span class="plate">{{data.sectionName}}</span>
      </div>
      <hr>
      <div id="post-content" style="margin:0 5px; overflow-y: hidden">
        <!-- 作者信息 -->
        <div class="auth">
          <!-- 作者头像 -->
          <div class="img">
            <a href="#"><img src="{{data.userImgUrl}}"/></a>
          </div>
          <!-- 作者信息 -->
          <div class="info">
            <div class="name">
              <a href="#">
                <strong>{{data.userName}}</strong>
                <span class="icon icon-louzhu"></span>
              </a> 
            </div> 
            <!-- 图标 -->
            <div class="icon">
              <span class="icon icon-dengji-1"></span>
              <span class="icon icon-xingbie-nv"></span>
            </div>
          </div>
        </div>
        <!-- 贴子内容 -->
        <div class="content" style="white-space: pre-line; ">
          {{data.postContent}}
          <div ng-if="data.imgUrl != '' ">
              <img class="new-img" src="{{data.imgUrl}}" />
          </div>
        </div>
      </div>
    </div>



    <!-- 评论区 -->
    <div id="comment">
      <!-- 标题 -->
      <div class="comment-title">
        <span>
          <i class="icon icon-qukuai-shutiao">全部评论</i> 
        </span>
      </div>
      <!-- 内容 -->
      <div class="comment-container" ng-repeat="comment in commentData track by $index">
        <div class="comment-list">
          <div class="comment-item">
            <div class="pull-left">
              <!-- 头像 -->
              <a href="#"><img class="avater" src="{{comment.userImgUrl}}"/></a>
            </div>
            <div class="comment-content">
              <div class="comment-trigger">
                <div class="pull-right" >
                  {{comment.commentTime}}
                </div>
                <strong><a>{{comment.userName}}</a></strong>&nbsp;&nbsp;
                <span class="comment-date"></span>
              </div>
              <!-- 回复内容 -->
              <div class="fmt">
                <p>{{comment.commentContent}}</p>
              </div>
              <!-- 点赞和回复 -->
              <p class="comment-ops">
                <span class="comment-zan">
                  <i class="fa icon icon-like-outline" ></i>
                </span>
                <span class="comment-zan-text">赞</span>
                <span class="comment-reply-btn" ng-click="deleteComment({{comment.id}})">删除</span>
              </p>
              <!-- 底部标记 -->
            </div> 
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <!-- 固定底边栏 -->
  <div id="comment-bar" style="display:block">
    <!-- 输入框 -->
    <div class="commentLeft">
      <div class="inp">
        <input type="text" placeholder="评论" ng-click="switch()" />
      </div>
    </div>
    <!-- 分享点赞 -->
    <div class="commentRight">
      <a id="comment-collection" class="icon icon-shoucang-outline" ng-click="clickCol($event,'icon-shoucang')" style="font-size:20px;"></a>
      <a id="comment-replay" class="icon icon-message" style="font-size:20px;"
         ng-click="toComment('comment')"></a>
      <a id="like" class="icon icon-like-outline" ng-click="clickIcon($event,'icon-like')" style="font-size:21px;"></a>
    </div>
  </div>
  <div id="comment-send" style="display:none">
    <!-- 输入框 -->
    <div class="send-input">
      <textarea name="message" ng-model="in1" class="in-text" placeholder="说两句吧"></textarea>
    </div>
    <!-- 发送按钮 -->
    <div class="send-btn">
      <a class="icon icon-fasong" ng-model="input" ng-click="send()" style="font-size:30px;"></a>
    </div>
  </div>
</ion-view>