#detail a{
  text-decoration:none;
}
#detail .button{
  
}
#detail .icon{
  font-size:14px;
  line-height:0;
}
/* 对顶部的一些处理 */
#detail ion-header-bar {
  background-color:#ffffff;
  height:44px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  background-image: none;
}

#detail ion-content{
  background-color:#efefef;
  overflow:scroll;
}

#detail #headerBar a{
  font-size:24px;
  line-height: 44px;
  margin-left:10px;
  color:#696868;
}

/**
* 贴子内容区
 */
#detail #detail-content #main{
  background-color:#ffffff;
  padding:15px 15px;
}
#detail #detail-content #main #title{
  min-height:30px;
  font-size:20px;
  line-height: 30px;
  margin:0 5px;
}

#detail #detail-content #main .other{
  position:relative;
  margin-top:5px;
  color:#7a7a7a;
  height:20px;
}

#detail #detail-content #main .other .time{
  position: absolute;
  margin-left:5px;
  display:inline-block;
}

#detail #detail-content #main .other .plate{
  position: absolute;
  right: 10px;
  display: inline-block;
}

#detail #detail-content #main hr{
  border: 1px dotted #f0f1f2;
  width:97%;
}
/* 作者信息 */
#detail #detail-content #main #post-content .auth{
  display:block;
  color:#999;
  padding-top:10px;
}

#detail #detail-content #main #post-content .auth .img{
  position: absolute;
}

#detail #detail-content #main #post-content .auth .img img{
  height:40px;
  width:40px;
  border-radius:50%;
}

#detail #detail-content #main #post-content .auth .info{
  float: right;;
  font-size:16px;
  padding-left:50px;
  width:100%
}

#detail #detail-content #main #post-content .auth .info span{
  font-size:16px;
  margin-left:5px;
}

#detail #detail-content #main #post-content .content{
  margin-top:35px;
  margin-bottom:25px;
}
/**
 *评论区
 */
#detail #comment{
  margin-top:10px;
  margin-bottom:50px;
}
#detail #comment .comment-title{
  background-color:#ffffff;
  height:40px;
  line-height: 40px;
}
#detail #comment .comment-title span{
  margin-left:5px; 
}
/* 评论区内容设置 */
#comment .comment-container{
  background-color:#ffffff;
  border-top:1px solid rgba(0,0,0,0.09);
}
#comment .comment-container .comment-list .comment-item{
  padding: 15px 20px;
}
#comment .comment-container .comment-list .comment-item .pull-left{
  float:left !important;
}
#comment .comment-container .comment-list .comment-item .pull-left .avater{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
#comment .comment-container .comment-content{
  padding-left:47px;
  min-height:70px;
}
#comment .comment-container .comment-content .comment-trigger{
  padding-bottom:10px;
}
#comment .comment-container .comment-content .pull-right{
  float:right !important;
  color:#a8a8a8;
}
#comment .comment-container .comment-content .fmt{
  line-height: 1.6;
  word-wrap: break-word;
  margin-bottom:10px !important;
}
#comment .comment-container .comment-content .comment-ops{
  margin: 0;
  color: #999;
  font-size: 13px;
}
#comment .comment-container .comment-content .comment-zan .fa{
  margin-right: 4px !important;
}
#comment .comment-container .comment-content .comment-ops .comment-reply-btn{
  margin-left: 15px !important;
}

#detail #comment .symbol{
  height:25px;
  margin-bottom:50px;
  background-color:#ffffff;
  color:#999999;
}
#detail #comment .symbol span{
  margin-left:40px;
}
#detail #comment .symbol .pictures{
  position: absolute;
  right: 20px;
  display: inline-block;
}
#detail #comment .symbol .pictures a{
  margin-right:10px;
}
/* 固定底边栏 */
#detail #comment-bar{
  width:100%;
  height:50px;
  position: fixed;
  bottom:0;
  background-color:#ffffff;
}
/* 输入框 */
#detail .commentLeft{
  width:60%;
  height:50px;
  float:left;
}
#detail .commentLeft .inp{
  width:75%;
  float:left;
}
#detail .commentLeft .inp input{
  margin:10px 0 0 10px;
  width:200px;
  font-size:16px;
  line-height: 30px;
  padding-inline-start: 10px;
  background-color:#ebebeb;
  height:30px;
  color: #007dff;
  border-radius:5px;
}
/* 图标功能区 */
#detail .commentRight{
  width:40%;
  height:50px;
  float:left;
  color:#696868;
  text-align:center;
  line-height:50px;
}
#detail .commentRight a{
  margin-right:20px;
  height:20px;
}
/* 发送框 */
#detail #comment-send{
  width:100%;
  min-height: 50px;
  max-height: 66px;
  position: fixed;
  bottom:0;
  background-color:#ffffff;
}
#detail #comment-send .send-input{
  margin-left: 10px;
  position: relative;
  top: 8px;
}
#detail #comment-send .send-input .in-text{
  height: 32px;
  overflow-y: scroll;
  border: 0;
  outline: none;
  padding: 7px 16px;
  font-size: 13px;
  width: 73%;
  min-height: 32px;
  max-height: 58px;
  box-sizing: border-box;
  background-color: #efefef;
  border-radius: 24px;
  color: #007dff;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  -webkit-text-fill-color: transparent;
  padding-top: 9px;
  resize:none ;
}

textarea:focus{
  border-color: #2196f3;
  box-shadow: 0 0 2px #03a9f4;
}

#detail #comment-send .send-btn{
  float: right;
  left: 300px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: 9px;
}

/* 隐藏滚轮 */
::-webkit-scrollbar {/*隐藏滚轮*/
  display: none;
  }